---
---
// Global Styles
// html {
//     font-size: 62.5%;
// }
@import "fonts";

html {
    font-size: 62.5%;
}

body {
    // background: url("{{ site.github.url }}/images/full_background.png");
}

// Navigation Bar Styles
.site-nav {
    position: absolute;
    top: 3rem;
    right: 15px;
    background-color: rgba(0,0,0,.5);
    border: 1px solid rgba(255,255,255,.4);
    border-radius: 5px;
    text-align: right;
    z-index: 9999;
    .menu-icon img {
        display: block;
        float: right;
        width: 40px;
        //   height: 26px;
        //   padding-top: 10px;
        margin: .3rem;
        text-align: center;
        position: relative;
        cursor: pointer;
    }
    .menu-wrapper {
        position: relative;
    }
    .menu-text {
        color: rgba(255,255,255,.5);    
        position: absolute;
        top: 14px;
        right: 11px;
        font-size: .8rem;
        font-weight: 700;
        cursor: pointer;
    }
    .trigger {
        clear: both;
        display: none;
    }
    
    &:hover .trigger {
        display: block;
    }
    
    .link {
        font: 400 1.6rem "Lato", sans-serif;
        color: #fff;
        display: block;
        padding: 5px 10px;
        margin-left: 20px;
        // vertical-align: super;
        &:hover {
            text-decoration: underline;
        }
    }
    
    .pink-heart {
        display: none;
    }
}

// Header Styles
.white-heart-logo {
    width: 12rem; 
    margin-bottom: 1.2rem;
}

header {
    .overlay {
        position: absolute;
        left: 0;
        right: 0;
        // height: 100vh;
        // height: 489px;
        font-family: "Lato", sans-serif;
        background-color: rgba(0,0,0,.4);
        color: rgb(255, 255, 255);
        z-index: 1;
    }
    .carousel-indicators {
        justify-content: flex-end;
        margin-right: 2%;
    }
    .carousel-indicators .active {
        background-color: #EA4F86;
    }
    .carousel-indicators li {
        background-color: rgba(234,79,134,.3);
        height: 11px;
        max-width: 10px;
    }
    .carousel-item {
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .carousel-control-prev,
    .carousel-control-next {
        z-index: 2;
    }
    .carousel-control-prev {
        justify-content: flex-start;
        opacity: .9;
    }
    .nav-icon-container-prev {
        padding: 1rem;
        padding-top: 1.4rem;
        padding-left: 1.3rem;
        background: #EA4F86;
    }
    .carousel-control-next {
        justify-content: flex-end;
        opacity: .9;
    } 
    .nav-icon-container-next {
        padding: 1rem;
        padding-top: 1.4rem;
        padding-left: 1.3rem;
        padding-right: .8rem;
        background: #EA4F86;
    }
    .carousel-item img {
        // fixes bootstrap 4 bug: bit.ly/bootstrap4-carousel
        width: 100%;
        height: 100%;
    }
    h6 {
        font-size: 1.3rem;
        margin-bottom: 1.5rem;
    }
    h1 {
        font-family: "Great Vibes", cursive;
        font-size: 4rem;
    }
    h5 {
        font-size: 1.3rem;
        margin-bottom: 13rem;
    }
    .scroll-icon {
        width: 3rem;
        margin-bottom: 1rem;
        
    }
}

.minimal-header {
    height: 25vh;
    background-size: cover;
    background-position: 50% 20%;
    background-repeat: no-repeat;
    .overlay {
        position: absolute;
        left: 0;
        right: 0;
        height: 25vh;
        font-family: "Great Vibes", cursive;
        background-color: rgba(0,0,0,.4);
        color: rgb(255, 255, 255);
        z-index: 1;
    }
    h1 {
        font-size: 4rem;
    }
}


// Footer Styles
footer {
    // height: 100px;
    // background: red;
}


// Overrides (Bootstrap)
@import "overrides";


// Media Queries
@import "media-queries";