{% comment %}
    see:
    http://bit.ly/2plubXU 
    https://help.shopify.com/themes/liquid
{% endcomment %}

{% assign main_photo = site.photo_gallery | first %}
{% capture photo_url %}{{ site.github.url }}/photos/{{ main_photo.image_name }}{% endcapture %}

<header class="carousel slide" id="featured" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#featured" data-slide-to="0" class="active"></li>
        <li data-target="#featured" data-slide-to="1"></li>
        <li data-target="#featured" data-slide-to="2"></li>
        <li data-target="#featured" data-slide-to="3"></li>
        <li data-target="#featured" data-slide-to="4"></li>
        <li data-target="#featured" data-slide-to="5"></li>
    </ol>
    <div class="overlay d-flex flex-column justify-content-end" style="height:100%">
        <div style="text-align: center">
            <h6 class="header-top-text">Our Love Story Continues</h6>
            <h1>Nela & Robert</h1>
            <img src="{{ site.github.url }}/images/heart-logo.png" alt="heart logo" style="width:15rem; margin-bottom: 1.2rem">
            <h5>13 October 2017</h5>
        </div>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="img-fluid" src="{{ site.github.url }}/photos/holding-hands-992.jpg" alt="photo">
        </div>
        <div class="carousel-item">
            <img class="img-fluid" src="{{ site.github.url }}/photos/nose-touch-992.jpg" alt="photo">
        </div>
        <div class="carousel-item">
            <img class="img-fluid" src="{{ site.github.url }}/photos/forehead-kiss-992.jpg" alt="photo">
        </div>
        <div class="carousel-item">
            <img class="img-fluid" src="{{ site.github.url }}/photos/kiss-992.jpg" alt="photo">
        </div>
        <div class="carousel-item">
            <img class="img-fluid" src="{{ site.github.url }}/photos/leaning-on-tree-992.jpg" alt="photo">
        </div>
        <div class="carousel-item">
            <img class="img-fluid" src="{{ site.github.url }}/photos/kiss-on-stairs-992.jpg" alt="photo">
        </div>
        
    </div> <!-- carousel-inner -->
    <a class="carousel-control-prev" href="#featured" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true">
            <span class="sr-only">previous</span>
        </span>
    </a>
    <a class="carousel-control-next" href="#featured" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true">
            <span class="sr-only">next</span>
        </span>
    </a>
</header> <!-- carousel -->
