  <div class="row">
    <nav class="col-xs-12">
        <ul>
            <li class="links"><a href="{{ site.github.url }}/index.html">home</a></li>
            <li class="links"><a href="{{ site.github.url }}/pages/hisStory.html">his story</a></li>
            <li class="links"><a href="{{ site.github.url }}/pages/herStory.html">her story</a></li>
            <li class="links"><a href="{{ site.github.url }}/pages/theWedding.html">the wedding</a></li>
            <li class="crest"><span><img src="{{ site.github.url }}/images/crest.png" alt="crest"></span></li>
            <li class="links"><a href="{{ site.github.url }}/pages/ourBlog.html">our blog</a></li>
            <li class="links"><a href="{{ site.github.url }}/pages/photoGallery.html">photo album</a></li>
            <li class="links"><a href="{{ site.github.url }}/pages/registry.html">registry</a></li>
            <li class="links"><a href="{{ site.github.url }}/pages/contact.html">contact</a></li>
        </ul>
    </nav>
  </div>