<nav class="site-nav">
  
  <div class="menu-icon">
    <div class="menu-wrapper">
      <img src="{{ site.github.url }}/images/logo.png" alt="menu icon heart image">
      <span class="menu-text text-uppercase">menu</span>
    </div>
  </div>
  
  <div class="trigger d-md-flex justify-content-center">
    <a class="link text-uppercase active-link" href="{{site.github.url}}/">home</a>
    <!-- <a class="link text-uppercase" href="{{site.github.url}}/registry">registry</a> -->
    <a class="link text-uppercase" href="{{site.github.url}}/couple">couple</a>
    <!-- <a class="link text-uppercase" href="{{site.github.url}}/story">story</a> -->
    <span class="pink-heart">
      <img  src="{{ site.github.url }}/images/logo.png" alt="heart image">
      <span class="text-uppercase">n &amp; r</span>
    </span>
    <a class="link text-uppercase" href="{{site.github.url}}/event">event</a>
    <!-- <a class="link text-uppercase" href="{{site.github.url}}/gallery">gallery</a> -->
    <!-- <a class="link text-uppercase" href="{{site.github.url}}/blog">blog</a> -->
    <a class="link text-uppercase" href="{{site.github.url}}/contact">contact us</a>
  </div>
  
</nav>